doctype html

html(lang="en-US")
  head
    title Simple CRUD App
  body
    header
      h1 Simple CRUD App
      h2 Home


      h2 Find a Value
      form(action="/read" method="POST")
        fieldset
          dl
            dt
              label(for="GET") Value to find:
            dd
              input(type="text" id="GET" name="GET" value=GET)

        fieldset
          input(type="submit" value="Save")


      h2 Add new Value
      form(action="/post" method="POST")
        fieldset
          dl
            dt
              label(for="POST") Value to add:
            dd
              input(type="text" id="POST" name="POST" value=POST)

        fieldset
          input(type="submit" value="Save")


      h2 Update value
      form(action="/update" method="post")
        fieldset
          dl
            dt
              label(for="OldValue") Old Value:
            dd
              input(type="text" id="OldValue" name="OldValue" value=OldValue)
          dl
            dt
              label(for="newValue") New Value:
            dd
              input(type="text" id="newValue" name="newValue" value=newValue)

        fieldset
          input(type="submit" value="Save")

      h2 Delete Value
      form(action="/delete" method="POST")
        fieldset
          dl
            dt
              label(for="DeleteVAl") Value to Delete:
            dd
              input(type="text" id="DeleteVAl" name="DeleteVAl" value=DeleteVAl)

        fieldset
          input(type="submit" value="Save")



